
.tarjeta{
    text-align: center;
    margin: 10px;
    img{
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 100%;
        text-align: center;
            titulo{
             text-align: center;
             
            
            
            
            }
    }
}


