* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tarjeta {
  text-align: center;
  margin: 10px;
}
.tarjeta img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100%;
  text-align: center;
}
.tarjeta img titulo {
  text-align: center;
}

.tarjetas {
  display: flex;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
  padding: 50px;
}

.tarjeta__btn {
  margin: 10px;
  padding-top: 10px;
  background-color: blue;
  padding: 8px 12px;
  color: white;
  font-size: 12px;
  border: 0px;
  border-radius: 5px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__cards {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container__cards .card {
  width: 300px;
  margin: 10px;
  transition: all 300ms;
}
.container__cards .card:hover {
  width: 350px;
}

.card .cover {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.card .cover img {
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 40px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}

.card:hover .cover img {
  top: 0px;
  filter: none;
}

.card .img__back {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
}

.card:nth-of-type(1) .img__back {
  background-image: url(./img/bg1.jpg);
}

.card:hover .img__back {
  bottom: -40px;
}

.card .description {
  background: white;
  margin-top: -10px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
}

.card:hover .description {
  padding: 40px;
}

.card .description h2 {
  margin-top: 10px;
  text-align: center;
}

.card .description p {
  margin-top: 10px;
  text-align: center;
}

.card .description input {
  padding: 10px 40px;
  margin-left: 40px;
  margin-top: 20px;
  border: none;
  background: #A6359D;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 300ms;
}

.card .description input:hover {
  background: #83277b;
}
